<h1 class="w3-text-red" style="text-shadow:1px 1px 0 #444">Welcome!</h1>
<p style="font-size:20px;">This is my first completed ruby application project! Here you will find a store that you can browse and buy from.</p>
